body {
  height: 100%;
  margin: auto;
}

header {
  width: 1000px;
  height: 100%;
  margin: auto;
  text-align: center;
}

a {
  background: grey;
}

#featured-property p {
  width: 700px;
  margin: auto;
  margin-bottom: 15px;
}

#featured-property {
  width: 1000px;
  margin: auto;
  height: 100%;
  text-align: center;
}

#details {
  display: flex;
  background: red;
  width: 100%;
}

div {
  text-align: center;
  width: 25%;
}

div a {
  background: none;
}